body{
	background-color: red;
	font-family: Arial; 
}
*{/* menu*/
margin: 0;
padding: 0; /*Espacio entre el contenido del elemento y su borde*/
-webkit-box-sizing: border-box; /*calcular las medidas de un elemento */
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.navegacion{
	width: 1000px;
	margin: 30px auto;
	background:#fff;
}
.navegacion ul{
	list-style: none; /*Quita las viñetas de lista*/
}
.menu >li{
	position: relative; /*la etiqueta posicion especifica como un elemento es pocisionado en el documento */
	display: inline-block; /*lista horizontal menu*/
}
.menu >li > a{
	display: block; /*establece los tipos de visualizacion interna y externa de un elemento*/
	padding: 15px 20px; /*tamaño del menu del menu*/
	color: #353535;
	font-family: 'open sans';
	text-decoration: none; /*no se ponga ningun subrayado ni biñetas*/
}
.menu li a:hover{ /*darle color a las letras del menu*/
    color:#CE7D35;
    transition: all .3s; /*darle transicion al color de las letras del menu*/
}
/*submenu*/
.submenu{
position: absolute;/*la etiqueta posicion especifica como un elemento es pocisionado en el documento */
background: #333333;
width: 120%;	
visibility: hidden; /*visualizar el efecto de la seleccion, hidden esconde el elemento pero deja vacio el espacio*/
opacity: 0; /*transparecia del elemento*/
transition: opacity 1.5s;
}
.submenu li a{
display:block; /*espacio entre palabras*/
padding: 15px; /*espacio entre pálabras*/
color: #fff; /*color de la letra*/
font-family: 'open sans'; /*tipo de letra*/
text-decoration: none;
}
.menu li:hover .submenu{ /*ocultar el submenu*/
visibility: visible; /*al pasar el cursor al menu de visualiza el submenu*/	
}
.subm{
position: absolute;/*la etiqueta posicion especifica como un elemento es posicionado en el documento*/
background: #333333;
width: 120%;
visibility: hidden; /*visualizar el efecto de seleccion, hidden esconde el elemento pero deja vasio el espacio*/
opacity: 0; /*transparecia del elemento*/
transition: opacity 1.5s;
}
.submenu li s{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'open sans';
	text-decoration: none;
}
.menu li:hover.subm{ /*ocultar el submenu*/
visibility: visisble; /*al pasar el cursor al menu se visusaliza el submenu*/
opacity: 1;
}	
h1.titulo1{
	color: black;
	text-align: center;
	font-weight:800;
	font-family: Arial;
	font-size: 60px;
}
body{
	background-color: #FFA533;
	font-family: Arial;
}
*{/*menu*/
margin:0;
padding: 0; /*espacio entre el contenido del elementoy su borde*/
-webkit-box-sizing: border-box;
-moz-box-sizing:border-box;
box-sizing: border-box;
}
/*tabla*/
#tabla{
	margin: 150px auto;
	width: 600px;
	float: center; /*ubica un elemento en su contenedor segun la posicion dada*/
}
table{
	background-color: white;
	text-align: left;
	border-collapse: collapse; /*fusionar los bordes*/
	width:100%;
}
th, td{
	border: solid 1px black;
	padding:5px;
}
thead{/*bloque de filas*/
background-color: #246355;
border-bottom: solid 5px #OF362D; /*establece el estilo del borde inferior de un elemento, se define el estilo, grosor y color*/
color: white;
}
tr:nth-child(even){ /*seleccion de varios elementos hijo, seleccion de una linea y otro no*/
background-color: #ddd;
}
tr:hover td{ /*al seleccionar una fila colorea el espacio y la letra la pasa a blanco*/
background-color: #369681;
color: write;
}
.img{ /*Diseño de la imagen*/
 width: 300px;
height:300px;
padding: 10px;
margin: 10px;
border: 2px solid black;
display: block;
margin: 0px auto;
/*float: right;
float: left; left; | right | none */
}
.hipervinculo{/*Diseño del hipervinculo*/
     float: left;
}
.video{ /*Diseño del video*/
    width:500px;
	height:500px;
	float: left;
}
p.im{/*Diseño del parrafo imagen*/
    color: blue;
	font-family: cursive;
	font-size: x-large;
}
p.hi{/*Diseño del parrafo hipervinculo*/
     color: green;
	 font-family: cursive;
	 font-size: x-large;
}
p.vi{/*Diseño del parrafo video*/
    color: orange;
	font-family: cursive;
	font-size: x-large;
}
	 